/*
 *
 * Common styles
 *
 */

/** {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
*/
/*Helper styles to start a Bootstrap project*/

/*body {
  padding-top: 10px;
}*/

/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/


/*
 *
 * Navigation
 *
 */

nav {
    height: 150px;
}

div.item > img {
    height: 300px;
}

/*
 *
 * Header
 *
 */


/*
 *
 *  Section
 *
 */


 /*
 *
 *  Footer
 *
 */

