/*
 *
 * Common styles
 *
 */

/** {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
*/
/*Helper styles to start a Bootstrap project*/

/*body {
  padding-top: 10px;
}*/

/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/

/*
 *
 * Header
 *
 */

nav {
    height: 150px;
}

div.item > img {
    height: 300px;
}


/*
 *
 * Fellows Section
 *
 */

.profile-structure {
    position: relative;
}

.fellow-profile img {
    width: 350px;
    height: 400px;
    opacity: 0.5;
}

.fellow-profile:hover img {
    opacity: 1;
}

.fellow-profile:hover p {
    visibility: hidden;
}

.fellow-profile h3 {
    font-weight: 300;
}

.fellow-profile:hover h3 {
    position: absolute;
    font-size: 17px;
    font-weight: 300;
    margin-top: 110px;
    margin-left: 75px;
    padding-bottom:15px;
}

.reward-container p {
    font-size: 20px;
    margin: 10px;
    padding: 7px 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.reward-container span {
    color: #FF6600;
    font-weight: 600;
}

.reward-text {
    position: absolute;
    top: 1px;
}

.reward-text h3 {
    color: #FFFFFF;
    font-size: 35px;
    margin: 45px 35px;
}

.profile-description {
    width: 350px;
    height: 125px;
    text-align: justify;
    background-color: #000000;
    color: #FFFFFF;
}


 /*
 *
 *  Footer
 *
 */
